:{$PORT} {
    # Статика из /app/public
    root * /app/public

    # Отдаём /assets/* как есть
    handle /assets/* {
        file_server
    }

    # Отдаём корень как index.html
    handle / {
        file_server
    }

    # Обращение к эндпоинтам — в приложение на 8080
    handle /api/* {
        reverse_proxy localhost:8080
    }

    # Редиректы перенаправляются в приложение на 8080
    handle /r/* {
        reverse_proxy localhost:8080
    }
}